*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-background-color: #E5E5E5;
    --top-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --box-bg-color: #F5F4FA;
    --text-color-main: #212121;
    --text-color-alt: #757575;
    --highlight-color: #2196F3;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--top-bg-color);
    color: var(--text-color-main);
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-style{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.header-style {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    border-bottom: 1px solid #ececec;
    justify-content: center;
}

.top-nav .address {display: flex;}

.top-nav a {cursor: pointer;}

.top-nav .logo {
    height: 31px;
    margin-top: 24px;
}

.top-nav .navigation,
.top-nav .list {
    display: flex;
    padding: 32px 0;
    align-items: center;
}

.top-nav .list li:first-child {
    margin-right: 30px;
}

.top-nav svg {
    fill: var(--text-color-alt);
    padding-top: 0px;
}

.top-nav .list li svg {
    align-self: center;
    margin-right: 10px;
}

.top-nav .icon {
    width: 16px;
    height: 16px;
}

.buttons {
    margin-bottom: 50px;
    text-align: center;
}

.buttons button {
    background-color: var(--box-bg-color);
    color: var(--text-color-main);
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border-style: none;
    letter-spacing: 0.03em;
    margin: 0 4px;
}

.buttons button:hover,
.buttons button:focus {
    background-color: var(--highlight-color);
    color: var(--top-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.2s;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--highlight-color);
    width: 145px;
}

.logo .header-studio {color: #000000;}

.logo .footer-studio {color: var(--top-bg-color);}

.address {
    text-decoration: none;
    color: var(--text-color-alt);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.footer {
    display: flex;
    background-color: var(--footer-bg-color);
    color: var(--top-bg-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 100%;
    text-align: left;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.contact-align{
    display: flex
}

.logo-footer{
    margin-bottom: 20px;
}

.footer .logo {margin-bottom: 20px;}

.footer [href^="mailto"],
.footer [href^="tel"] {
    color: rgba(255, 255, 255, 0.6);
}

.footer li {
    font-style: normal;
    list-style-type: none;
}

.footer li:not(:last-child) {margin-bottom: 9px;}

.footer h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
}

.footer .list {margin-right: 70px;}

.contact-align:hover .address,
.contact-align:focus .address{ 
    fill: var(--highlight-color);
    color: var(--highlight-color);
    transition: all 0.2s;
}

.contact-align:hover .icon,
.contact-align:focus .icon{
    fill: var(--highlight-color);
    color: var(--highlight-color);
    transition: all 0.2s;
}

.navigation li:not(:last-child) {margin-right: 46px;}

.navigation li:first-child {margin-left: 94px;}

.navigation li:last-child {margin-right: 371px;}

.navigation>li>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color-main);
}

.navigation>li>a:hover,
.navigation>li>a:focus {
    color: var(--highlight-color);
    transition: all 0.2s;
}

.section-1 {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(255, 255, 255, 0.1)),
        url(../images/image\(17\).jpg);
    background-size: auto, auto;
    background-position: center, center;
    color: var(--top-bg-color);
    text-align: center;
    max-width: 1600px;
    margin: auto;
    padding: 0 15px;
}

.section-1 h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 320px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 30px;
}

.section-1 button {
    background-color: var(--highlight-color);
    color: var(--top-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    margin-bottom: 200px;
}

.list-1 {
    display: flex;
    letter-spacing: 0.03em;
}

.list-1 figure {
    margin: 0;
    width: inherit;
}

.list-1 svg {
    background-color: var(--box-bg-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
}

.list-1 li:not(:last-child) {margin-right: 30px;}

.list-1 li h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    width: 270px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.list-1 li p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-alt);
    letter-spacing: 0.03em;
    width: 270px;
}

.item-2-s2 ul {display: flex;}

.item-2-s2 li:not(:last-child) {margin-right: 30px;}

.item-2-s2>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.section-3-bg {background-color: var(--box-bg-color);}

.section-3>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section-3 ul {display: flex;}

.section-3 li {
    width: 270px;
    background-color: var(--top-bg-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-3 li:not(:last-child) {margin-right: 30px;}

.section-3 figure {margin: 0;}

.section-3 h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-3 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color-alt);
    padding-bottom: 30px;
}

.section-3 svg {
    background-color: var(--top-bg-color);
    fill: #afb1b8;
    width: 44px;
    height: 44px;
    background-position: 12px 12px;
    border-radius: 50%;
    cursor: pointer;
}

.section-3 svg:hover,
.section-3 svg:focus {
    background-color: var(--highlight-color);
    fill: var(--top-bg-color);
    transition: all 0.2s;
}

.footer svg {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--top-bg-color);
    width: 44px;
    height: 44px;
    background-position: 12px 12px;
    border-radius: 50%;
    cursor: pointer;
}

.footer svg:hover,
.footer svg:focus {
    background-color: var(--highlight-color);
    fill: var(--top-bg-color);
    transition: all 0.2s;
}

.footer-social {display: flex;}

.footer-social li:not(:last-child) {margin-right: 10px;}

.list .icon-social {justify-content: center;}

.list .icon-social li {
    width: 44px;
    margin-bottom: 30px;
    box-shadow: none;
    margin-right: 0px;
}

.list .icon-social li:not(:last-child) {margin-right: 10px;}

.section-4 {text-align: center;}

.section-4 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section-4 svg {
    fill: #afb1b8;
    border-radius: 4px;
    outline: 1px solid #afb1b8;
}

.section-4 svg:hover,
.section-4 svg:focus {
    outline: 1px solid var(--highlight-color);
    transition: all 0.2s;
}

.section-4 ul {
    display: flex;
    padding-left: 0;
}

.section-4 li:not(:last-child) {margin-right: 30px;}

.icon {
    text-decoration: none;
    border-style: none;
    background-color: var(--top-bg-color);
    cursor: pointer;
}

.icon svg:hover,
.icon svg:focus {
    fill: var(--highlight-color);
    transition: all 0.2s;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.list-portfolio li {cursor: pointer;}

.list-portfolio li:hover,
.list-portfolio li:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.2s;
}

.list-portfolio figure {
    background: var(--top-bg-color);
    border: 1px solid #eeeeee;
    margin: 0;
}

.list-portfolio figcaption {
    margin: 0;
    padding: 20px 24px;
}

.list-portfolio h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0 0 4px 0;
}

.list-portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color-alt);
    margin: 0;
}

.list {list-style-type: none;}

.section-style {padding: 94px 0;}

.section-style {padding: 94px 0;}